@model IEnumerable<Imdb.Models.Category>

<h2>Manage Categories</h2>

@(Html.Kendo().Grid<Imdb.Models.Category>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Name);
        columns.Command(command => 
                    { 
                        command.Edit().UpdateText("Save"); 
                        command.Destroy(); 
                    }).Width(200).Title("Commands");
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(true)
        .PageSize(10)
        .Model(model => model.Id(c => c.Id))
        .Create(update => update.Action("Create", "Categories"))
        .Read(read => read.Action("Read", "Categories"))
        .Update(update => update.Action("Update", "Categories"))
        .Destroy(update => update.Action("Destroy", "Categories"))
    )
)
