@model Imdb.Mvc.Models.ReviewViewModel

<div class="reviewDetails">
    <div><strong>Title: </strong>@Model.Title</div>
    <div><strong>Content: </strong>@Model.Content</div>
    <div><strong>Rating: </strong>@Model.Rating</div>
    <div><strong>Added by: </strong>@Model.AuthorName</div>
</div>